@charset "UTF-8";
.wf-loading {visibility: hidden;}
.wf-active, .wf-inactive {visibility: visible;}
@-moz-viewport {width: device-width; scale: 1;}
@-ms-viewport {width: device-width; scale: 1;}
@-webkit-viewport {width: device-width; scale: 1;}
@viewport {width: device-width; scale: 1;}

html {
	font-size: 16px;
	width: 100%;
	overflow-x: hidden;
}

*, *:after, *:before {
	margin: 0; 
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	position: relative;
	overflow-x: hidden;
	width: 100%;
	background-color: #F5EBEC;
}



/* --------- TYPOGRAPHY ---------- */

body {
	font-family: neue-kabel,sans-serif;
	font-weight: 400;
	font-style: normal;
	
	font-size: 1rem;
	line-height: 1.212121212;
	color: #241B2C;
	
	text-rendering: optimizeLegibility;
	font-feature-settings: "kern";
	-webkit-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern";
	-moz-font-feature-settings: "kern=1";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

p {margin-bottom: 1.15rem;}

h1, h2, h3, h4, h5, .lh-sm {
  margin: 2.75rem 0 1.05rem;
  font-weight: 800;
  line-height: 1;
}

h1, .uno {margin-top: 0;font-size: 3.052em;}
h2, .dos {font-size: 2.441em;}
h3, .tres {font-size: 1.953em;}
h4, .cuatro {font-size: 1.563em;}
h5, .cinco {font-size: 1.25em;}
.reg {font-size: 1em;}
small, .small {font-size: 0.8em; line-height: 1.33333}
.xsmall {font-size: 0.64em; line-height: 1.33333}



@media only screen and (min-width: 30rem) {
	body {
		font-size: 1.25rem;
	}
	
	.hero h1 {font-size: 2.441em;}
}

@media only screen and (min-width: 35rem) {
	.hero h1 {font-size: 3.052em;}
}

a {text-decoration: none;}
ul {list-style: none;}
.italic {font-style: italic;}
.text-left {text-align: left;}
.text-center {text-align: center;}
.text-right {text-align: right;}
.uppercase {text-transform: uppercase;}


.light {font-weight: 300;}
.regular {font-weight: 400 !important;}
.bold {font-weight: 700;}
.xbold {font-weight: 800;}
.underline {display: inline-block; border-bottom: solid 1px;}

/* -------- COLORS -------- */

::-moz-selection {background-color: #464646; color: white;}
::selection {background-color: #464646; color: white;}

/* Background Colors */

.beige-bg {background-color: #F5EBEC !important;}
.orange-bg {background-color: #FF560D !important;}
.yellow-bg {background-color: #FFC30D !important;}
.blue-bg {background-color: #8684EF !important;}
.pink-bg {background-color: #F784A9 !important;}
.black-bg {background-color: #241B2C !important;}
.white-bg {background-color: white;}


/* Text Colors */
.beige, .beige a {color: #F5EBEC !important;}
.orange, .orange a {color: #FF560D !important;}
.yellow, .yellow a {color: #FFC30D !important;}
.blue, .blue a {color: #7674f4 !important;}
.pink, .pink a {color: #F784A9 !important;}
.black, .black a {color: #241B2C !important;}
.white, .white a {color: white !important;}




/* -------- LAYOUT -------- */


.flex {display: flex;}
.row {flex-direction: row;}
.col {flex-direction: column;}
.wrap {flex-wrap: wrap;}
.space-between {justify-content: space-between;}
.space-around {justify-content: space-around;}
.items-start {align-items: flex-start;}
.justify-center {justify-content: center;}
.align-center {align-items: center;}
.content-center {align-content: center;}

.inline-block li {display: inline-block;}
.flex-img {display: block; width: 100%;}
.no-mt {margin-top: 0;}
.no-mb {margin-bottom: 0;}

.mt-half {margin-top: .5rem;}
.mt-1 {margin-top: 1rem;}
.mt-2 {margin-top: 2rem;}
.mt-3 {margin-top: 3rem;}
.mt-4 {margin-top: 4rem;}

.mb-half {margin-bottom: .5rem;}
.mb-1 {margin-bottom: 1rem;}
.mb-2 {margin-bottom: 2rem;}
.mb-3 {margin-bottom: 3rem;}
.mb-4 {margin-bottom: 4rem;}

.container {
	width: -webkit-calc(100% - 40px);
	width: calc(100% - 40px);
	max-width: 1130px;
	margin: 0 auto;
}

@media only screen and (max-width: 55rem) {
	.col-sm {flex-direction: column;}
	.row-sm {flex-direction: row;}
}

/* -------- GENERAL -------- */

.button {
	padding: .625em 1.25em; 
	background-color: #241B2C; 
	color: white; 
	border-radius: 30px;
	margin: 8px 0;
}

section {padding: 5rem 0;}

.bg-cover {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

/* -------- SECTION -------- */

/* Nav */
header {padding: 1rem 0; position: absolute; left: 0; right: 0;}

nav ul li {margin-top: 1rem;margin-left: 1rem;}
nav ul li:first-child {margin-left: 0rem;}

.logo-large {display: none; width: 50%; max-width: 150px;}
.logo-small {display: block; width: 3.6rem;}

@media only screen and (min-width: 45rem) {
	nav ul li {margin-left: 2rem;}
	
	.logo-large {display: block;max-width: 240px;}
	.logo-small {display: none;}
}




/* Hero */
.hero {
	background-image: url(../images/yoga-desde-casa--hero-3.jpg); 
	padding-top: 8rem;
	background-position: center 75%;
}

.hero h1 {max-width: 550px; text-shadow: 0px 0px 40px rgba(255,255,255,.9);}
.intro img {max-width:800px;}
.intro-p {max-width: 600px;}

@media only screen and (min-width: 45rem) {
	.hero {min-height: 90vh}
}


/* Estilos */
.estilos h2 {max-width: 500px;}
.estilo-card {margin-bottom: 1rem; padding: 3rem 2.5rem; box-shadow: 0px 30px 60px rgba(0,0,0,.1)}

@media only screen and (min-width: 55rem) {
	.estilo-card {width: 32%;}
}

.intensidad li {
	border-radius: 100%;
	width: 14px; 
	height: 14px; 
	background-color: transparent; 
	display: inline-block;
	border: 2px solid #241B2C;
}

.fill {
	background-color: #241B2C; 
	width: 6px;
	height: 6px;
	border-radius: 100%;
	margin-top: 2px;
	margin-left: 2px;
}

/* Schedule */

.schedule {width: 100%;}
.schedule row {flex-wrap: wrap;}
.day h3 {padding-bottom: .5rem; border-bottom: solid 1px; margin-bottom: 1.5rem;}
#horario .profe-pic {width:4rem; height: 4rem; padding:5px; border-radius: 100%; border: solid 1px; margin-right: .5rem;}
#horario .profe-pic img {border-radius: 100%; border: solid 1px}
#horario .profe p span {display: block;}
#horario .profe:first-child {margin-right: 2rem;}
.day {width: 100%;}

@media only screen and (min-width: 55rem) {
	.day {width: 25%; text-align: left}
	#horario .profe:first-child {margin-bottom: 1rem; margin-right: 0;}
	.schedule .caption {max-width: 10rem;}
}

/* Paquetes */

.paquetes {width: 100%; align-content: stretch; justify-items: stretch}
.paquetes-card {width: 100%; margin-bottom: 1rem; padding: 3rem 2.5rem; box-shadow: 0px 30px 60px rgba(0,0,0,.1);}
.paquetes dt {padding-top: 1rem; border-top: solid 1px; margin-top: -1px;}
.paquetes dd {padding-bottom: 1.1rem; border-bottom: solid 1px;}
.paquetes-card h3 {margin-bottom: .5rem;}
.paquetes-card p {margin-bottom: 2rem;}


@media only screen and (min-width: 55rem) {
	.paquetes-card {width: 24%;}
}


/* Como Funciona */
.steps {width: 100%;}
.step-p {max-width: 12rem; text-align: left; margin-left: 1rem;}
.step {margin-top: 1rem;}
.number, .number-inner {
	width: 60px; 
	height: 60px; 
	border-radius: center; 
	text-align: center;
	border: solid 2px;
	border-radius: 100%;
}
.number-inner {
	width: 50px; 
	height: 50px; 
}

.como-funciona .steps {max-width: 30rem;}
.como-funciona .step-p {max-width:25rem;}
.items-start {align-items: flex-start;}
.banks {
	border: solid 1px;
	padding: 1.5rem;
	margin-left: 4.75rem;
	border-radius: 10px;
}

/* Staff */
#staff .profe {width: 100%; max-width: 35rem;}
#staff .profe:first-child {margin-bottom: 2rem;}
#staff .profe img {width: 30%}
#staff .info {margin-left: 1rem;}

@media only screen and (min-width: 55rem) {
	#staff .profe:first-child {margin-right: 5%;}
	#staff .profe img {width:48%}
	.info {width: 48%;}
	#staff .profe:first-child {margin-bottom: 0rem;}
}

/* Footer */
footer {padding: 1rem 0}
.social a:first-child {margin-right: 2rem; margin-bottom: .5rem}

@media only screen and (min-width: 55rem) {
	.social a {margin-right: 2rem; margin-bottom: 0rem}
	.social a:first-child {margin-bottom: 0rem}
}